{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="https://xiaoyouping.oss-cn-shanghai.aliyuncs.com/ci/logo/mcsk_logo/logo_line1_946_402.png" />
			</div>
			<div class="hero">
				<h2>美宸时科科技代码管理系统</h2>
			</div>
		</div>
	</div>
	{{if eq .Lang "zh-CN"}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 精诚合作
				</h1>
				<p class="large">
					努力共造
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 创造价值
				</h1>
				<p class="large">
					满足需求
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 科技时尚
				</h1>
				<p class="large">
					这是一种追求
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 创造未来
				</h1>
				<p class="large">
					探索
				</p>
			</div>
		</div>
	{{else}}
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 精诚合作
				</h1>
				<p class="large">
					努力共造
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 创造价值
				</h1>
				<p class="large">
					满足需求
				</p>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 科技时尚
				</h1>
				<p class="large">
					这是一种追求
				</p>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 创造未来
				</h1>
				<p class="large">
					探索
				</p>
			</div>
		</div>
	{{end}}
</div>
{{template "base/footer" .}}